        <!-- Page Content -->
<h1>Simple Angular App</h1>
<p>This is a simple Angular project, that consume resources from a <a href="http://josuevalrob.webfactional.com/angular-drupal" target="_blank">drupal </a> site.</p>
<p>From the left menu you can see all the tasks. This work with the GET METHOD and is calling a simple <a href="http://josuevalrob.webfactional.com/angular-drupal/tasks" target="_blank">REST view</a> from the drupal site. </p>                
<p>Then you have a form for add new tasks. It use the PUT METHOD, if you inspect the element, you can see in the console the call of the <code>/entity/node</code></p>

<p>Also, if you access to any of the task from the menu it will send you to the full view of the node. Inside it, you can go to Edit your tasks and made any change, this work with the PATCH METHOD, go to the console to see the call. </p>

<p>You can see the project on <a href="https://github.com/josuevalrob/tasks" target="_blank">Github</a></p>
<p>And if you want more detail of this simple app, visit my <a href="https://josuevalrob.com/angular-drupal8">Blog</a>.</p>
            


